target
assets/player1rot.png
assets/player1.jpeg
assets/player1white.png
assets/player2rot.png
assets/player2.jpeg
assets/player2white.png
assets/player3rot.png
assets/player3.jpeg
assets/player3white.png
assets/player4rot.png
assets/player4.jpeg
assets/player4white.png